---
import { getCollection } from "astro:content";
import BaseLayout from "../../layouts/BaseLayout.astro";
import { LINK_STYLE } from "../../libs/constants";

export async function getStaticPaths() {
  const allPosts = await getCollection("posts");

  const uniqueTags = [
    ...new Set(allPosts.map((post) => post.data.tags).flat()),
  ];

  return uniqueTags.map((tag) => {
    const filteredPosts = allPosts.filter((post) =>
      post.data.tags.includes(tag)
    );
    return {
      params: { tag },
      props: { posts: filteredPosts },
    };
  });
}

const { tag } = Astro.params;
const { posts } = Astro.props;
---

<BaseLayout pageTitle={tag}>
  <div>
    Posts tagged with <span class="font-bold">{tag}</span>:
  </div>
  <ul>
    {
      posts.map((post) => (
        <li>
          <a class={LINK_STYLE} href={`/posts/${post.slug}/`}>
            {post.data.title}
          </a>
        </li>
      ))
    }
  </ul>
</BaseLayout>
