---
import clsx from "clsx";

const {
  imageUrl,
  imageAlt,
  title,
  text,
  tech,
  old = false,
  buttonText = null,
} = Astro.props;

const showImage = imageUrl && imageAlt;
---

<div
  class={clsx(
    "card min-w-96 bg-[var(--bg-bege)] shadow-md rounded-lg",
    old ? "old-card" : ""
  )}
>
  {
    old && (
      <div class="absolute top-0 right-0 py-1 px-3 bg-red-300 rounded-r-md">
        old
      </div>
    )
  }
  <div class="card-body flex flex-col gap-3 justify-between">
    <div>
      {
        showImage && (
          <figure class="px-8">
            <img src={imageUrl} alt={imageAlt} class="rounded-lg" />
          </figure>
        )
      }
      <h2 class="card-title">{title}</h2>
      <p class="text-sm mt-3">{text}</p>
    </div>
    <div>
      {
        tech && (
          <p class="text-sm">
            <strong>Technologies: </strong>
            {tech}
          </p>
        )
      }
      {
        buttonText && (
          <div class="card-actions">
            <button class="text-blue-500 font-bold">{buttonText}</button>
          </div>
        )
      }
    </div>
  </div>
</div>

<style>
  .old-card {
    background: repeating-linear-gradient(
      135deg,
      #ffdddd,
      #ffdddd 10px,
      #ffcccc 10px,
      #ffcccc 20px
    );
  }
</style>
