---
import clsx from "clsx";

const {
  imageUrl,
  imageAlt,
  title,
  text,
  tech,
  tag = null,
  old = null,
  buttonText = null,
  gh = null,
} = Astro.props;

const showImage = imageUrl && imageAlt;
---

<div class="card min-w-96 bg-[var(--bg-bege)] shadow-md rounded-lg">
  <div
    class={clsx(
      "absolute top-0 right-0 p-4 text-xs font-semibold uppercase",
      old ? "text-slate-400" : "text-blue-600 animate-pulse"
    )}
  >
    {tag ?? "recent"}
  </div>

  <div class="card-body flex flex-col gap-3 justify-between">
    <div>
      {
        showImage && (
          <figure class="px-8">
            <img src={imageUrl} alt={imageAlt} class="rounded-lg max-h-20" />
          </figure>
        )
      }
      <h2 class="card-title">{title}</h2>
      <p class="text-sm mt-3">
        {text}
        {
          gh && (
            <a class="text-sm" href={gh}>
              See code on GitHub.
            </a>
          )
        }
      </p>
    </div>

    <div>
      {
        tech && (
          <p class="text-sm">
            <strong>Technologies: </strong>
            {tech}
          </p>
        )
      }
      {
        buttonText && (
          <div class="card-actions">
            <button class="text-blue-500 font-bold">{buttonText}</button>
          </div>
        )
      }
    </div>
  </div>
</div>
