---
import { marked } from "marked";

import { lang } from "../lib/constants";

import "./PostSummary.scss";

const formatDate = (post: string) =>
  new Date(post).toLocaleDateString(lang, {
    month: "short",
    year: "numeric",
  });

export interface Props {
  post: Record<string, any>;
}

const {
  frontmatter: { pubDate, title, description },
  url,
} = Astro.props.post;
---

<div class="grid grid-cols-1 md:grid-cols-3 gap-3 m-auto md:w-1/2">
  <div class="w-full md:text-center">
    <div class="grid grid-rows-1 md:grid-cols-1 place-content-start">
      <span
        class="italic text-gray-500 md:text-[#e9e9e9] md:not-italic md:text-6xl md:font-semibold"
      >
        {new Date(pubDate).getDate()}
        <span class="md:text-base font-normal md:block"
          >{`${formatDate(pubDate)}`}</span
        >
      </span>
    </div>
  </div>
  <div class="col-span-1 md:col-span-2">
    <h4 class="text-2xl font-semibold mt-0 mb-0">
      <a class="text-[#00b7ff] no-underline" href={url} title={title}>
        {title}
      </a>
    </h4>
    <section>
      {description && <p class="m-0" set:html={marked.parse(description)} />}
    </section>
  </div>
</div>
